/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.widget.loquat_recommendations .container {}

.widget.loquat_recommendations .center {text-align: center;}

.widget.loquat_recommendations .item.template {display: none}
.widget.loquat_recommendations .item {
	width: calc(25% - 10px); margin: 5px; min-height: 250px; float: left;
	background-color: #efefef;
}

@media screen and (max-width: 320px) {
	.widget.loquat_recommendations .item {width: 100%;}
}
