/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.widget.loquat_recommendations .container {}

.widget.loquat_recommendations .center {text-align: center;}

.widget.loquat_recommendations .item.template {display: none}
.widget.loquat_recommendations .item {
	width: calc(25% - 10px); margin: 5px; min-height: 250px; float: left;
	box-shadow: 0 0 0 1px #efefef; text-align: center; font-size: 16px; border-radius: 5px; overflow: hidden;
}

.widget.loquat_recommendations .item .details > p {margin: 0;}

.widget.loquat_recommendations .item .picture {width: 100%; height: 200px; background-size: cover; background-position: center;}


.widget.loquat_recommendations .item .details .name {font-weight: bold;}

@media screen and (max-width: 320px) {
	.widget.loquat_recommendations .item {width: 100%;}
}

